<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>编辑用户</title>
  <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
  <link rel="shortcut icon" th:href="@{/img/favicon.ico}"/>
</head>

<body>
<form class="layui-form layui-form-pane" action="" style="margin: 50px;">
  <!-- 昵称 -->
  <div class="layui-form-item">
    <label class="layui-form-label">昵称</label>
    <div class="layui-input-block">
      <input type="text" name="nickName" th:value="${user.nickName}" placeholder="请输入要修改的昵称" autocomplete="off" class="layui-input">
    </div>
  </div>
  <!-- 性别 -->
  <div class="layui-form-item">
    <label class="layui-form-label">性别</label>
    <div class="layui-input-block">
      <input type="radio" name="sex" th:checked="${user.sex == 0}" value="0" title="男">
      <input type="radio" name="sex" th:checked="${user.sex == 1}" value="1" title="女">
    </div>
  </div>
  <!-- 出生年月 -->
  <div class="layui-form-item">
    <label class="layui-form-label">出生年月</label>
    <div class="layui-input-block">
      <input type="text" name="birthday" th:value="${user.birthday}" id="birthday" autocomplete="off" class="layui-input">
    </div>
  </div>
  <!-- 邮箱 -->
  <div class="layui-form-item">
    <label class="layui-form-label">邮箱</label>
    <div class="layui-input-block">
      <input type="text" name="email" th:value="${user.email}" placeholder="请输入要修改的邮箱" autocomplete="off" class="layui-input">
    </div>
  </div>
  <!-- 手机 -->
  <div class="layui-form-item">
    <label class="layui-form-label">手机</label>
    <div class="layui-input-block">
      <input type="text" name="phone" th:value="${user.phone}" placeholder="请输入要修改的手机号" autocomplete="off" class="layui-input">
    </div>
  </div>
  <!-- 籍贯 -->
  <div class="layui-form-item" id="area-picker">
    <div class="layui-form-label">籍贯</div>
    <div class="layui-input-inline" style="width: 120px;">
      <select name="province" class="province-selector" th:data-value="${user.province}">
        <option value="">--选择省--</option>
      </select>
    </div>
    <div class="layui-input-inline" style="width: 120px;">
      <select name="city" class="city-selector" th:data-value="${user.city}">
        <option value="">--选择市--</option>
      </select>
    </div>
  </div>
  <!-- 专业 -->
  <div class="layui-form-item">
    <label class="layui-form-label">专业</label>
    <div class="layui-input-block">
      <input type="text" name="major" th:value="${user.major}" placeholder="请输入专业" autocomplete="off" class="layui-input">
    </div>
  </div>
  <!-- 在校时间 -->
  <div class="layui-form-item">
    <label class="layui-form-label">在校时间</label>
    <div class="layui-input-inline">
      <input type="text" name="schoolDate" th:value="${user.schoolDate}" class="layui-input" id="schoolDate" placeholder=" - ">
    </div>
  </div>
  <!-- 学历 -->
  <div class="layui-form-item">
    <label class="layui-form-label">学历</label>
    <div class="layui-input-inline">
      <select name="education">
        <option value="">请选择学历</option>
        <option th:selected="${user.education == '初中'}" value="0">初中</option>
        <option th:selected="${user.education == '高中'}" value="1">高中</option>
        <option th:selected="${user.education == '专科'}" value="2">专科</option>
        <option th:selected="${user.education == '本科'}" value="3">本科</option>
        <option th:selected="${user.education == '硕士'}" value="4">硕士</option>
        <option th:selected="${user.education == '博士'}" value="5">博士</option>
        <option th:selected="${user.education == '其它'}" value="6">其它</option>
      </select>
    </div>
  </div>
  <!-- 头像 -->
  <div class="layui-form-item">
    <div class="layui-input-inline">
      <div class="layui-upload-drag" id="avatar">
        <i class="layui-icon"></i>
        <p>点击上传头像，或将文件拖拽到此处</p>
        <div class="layui-hide" th:class="${user.headPic == null} ? 'layui-hide' : 'layui-show'" id="uploadView">
          <hr>
          <img th:src="${user.headPic}" alt="上传成功后渲染" style="max-width: 196px">
        </div>
      </div>
    </div>
    <!-- 隐藏组件，获取图片上传后的路径、并提交表单 -->
    <input type="hidden" name="headPic" id="headPic">
    <input type="hidden" name="id" th:value="${user.id}">
  </div>
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
</form>
<script th:src="@{/pear/component/layui/layui.js}"></script>
<script type="text/javascript">
  layui.config({
    base: '[[@{/js/}]]'
  });
  layui.use(['form', 'laydate', 'layarea', 'upload', 'jquery'], function () {
    var form = layui.form
            , layer = layui.layer
            , laydate = layui.laydate
            , layarea = layui.layarea
            , upload = layui.upload
            , $ = layui.jquery;
    //日期
    laydate.render({
      elem: '#birthday'
    });
    //年范围
    laydate.render({
      elem: '#schoolDate'
      , type: 'year'
      , range: true
    });
    // 地区选择
    layarea.render({
      elem: '#area-picker',
    });
    //拖拽上传
    upload.render({
      elem: '#avatar'
      , url: '/alumni/api/upload' //此处用的是第三方的 http 请求演示，实际使用时改成您自己的上传接口即可。
      , done: function (res) {
        layer.msg('上传成功');
        layui.$('#uploadView').removeClass('layui-hide').find('img').attr('src', res.data.src);
        layui.$('#headPic').attr("value", res.data.src);
      }
    });
    //监听提交
    form.on('submit(formDemo)', function(data){
      $.ajax({
        url:'/alumni/admin/user/edit',
        data:JSON.stringify(data.field),
        dataType:'json',
        contentType:'application/json;charset=UTF-8',
        type:'post',
        success:function(result){
          if(result.code === 0){
            layer.msg(result.msg,{icon:1,time:800},function(){
              parent.layer.close(parent.layer.getFrameIndex(window.name));//关闭当前页
              parent.layui.table.reload("user-table");
            });
          }else{
            layer.msg(result.msg,{icon:2,time: 800});
          }
        }
      })
      return false;
    });
  });

</script>
</body>

</html>