<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>活动</title>
  <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>

<body>
<header th:fragment="header">
  <div class="header">
    <h1 class="logo">
      <a th:href="@{/user/index}">
        <img th:src="@{/img/logo.png}">
      </a>
    </h1>
    <div class="nav">
      <a th:href="@{/user/index}">新闻资讯</a>
      <a th:href="@{/user/activity/category/0}" class="active">活动</a>
      <a th:href="@{/user/album/category/0}">相册</a>
      <a th:href="@{/user/post/category/0}">广场</a>
      <a th:href="@{/user/my/oneself}">主页</a>
    </div>
    <!--右侧搜索栏-->
    <div class="nav-right">
      <form class="layui-form" action="">
        <div class="layui-input-block">
          <input type="text" name="search" lay-verify="required" autocomplete="off" placeholder="&#xe615;"
                 class="layui-icon layui-input">
        </div>
      </form>
      <div class="user">
        <!-- <a href="#">登录</a>
        <a href="#">注册</a> -->
        <div class="avatar">
          <img th:src="@{/img/banner.jpg}">
        </div>
      </div>
    </div>
  </div>
</header>

<div class="content">
  <div class="cont w1000">
    <div class="title">
        <span class="layui-breadcrumb" lay-separator="|">
          <a th:href="@{/user/activity/category/0}" class="active">全部</a>
          <a th:href="@{/user/activity/category/1}">闲聊聚餐</a>
          <a th:href="@{/user/activity/category/2}">公益活动</a>
          <a th:href="@{/user/activity/category/3}">校友聚会</a>
          <a th:href="@{/user/activity/category/4}">旅游度假</a>
          <a th:href="@{/user/activity/category/5}">其它</a>
        </span>
    </div>
    <div class="list-item">
      <!--活动列表-->
      <div class="item" th:each="activity:${activityList}">
        <div class="layui-fluid">
          <div class="layui-row">
            <div class="layui-col-xs12 layui-col-sm4 layui-col-md5">
              <div class="img"><img th:src="${activity.cover}" alt="cover"></div>
            </div>
            <div class="layui-col-xs12 layui-col-sm8 layui-col-md7">
              <div class="item-cont">
                <h3 th:text="${activity.title}"></h3>
                <h5 th:text="${activity.sort}"></h5>
                <div th:utext="${activity.content}"></div>
                <a th:href="@{|/user/activity/details/${activity.id}|}" class="go-icon"></a>
                <!-- 时间、地点 -->
                <div class="icon-list">
                  <p><i class="layui-icon layui-icon-date"></i><span th:text="${activity.startDate}"></span></p>
                  <p><i class="layui-icon layui-icon-location"></i><span th:text="${activity.province} + ' ' + ${activity.city} +  ' ' + ${activity.county}"></span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer th:replace="index::footer"></footer>
<script type="text/javascript" th:src="@{/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-3.6.0.js}"></script>
<script type="text/javascript" th:src="@{/js/header.js}"></script>
<script type="text/javascript">
  layui.config({
    base: '[[@{/js/util/}]]'
  }).use(['element', 'laypage', 'jquery', 'menu'], function () {
    element = layui.element, laypage = layui.laypage, $ = layui.$, menu = layui.menu;
    laypage.render({
      elem: 'demo'
      , count: 70 //数据总数，从服务端得到
    });
  });
</script>
</body>

</html>