<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>广场</title>
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>

<body>
<!--头部-->
<header th:fragment="header">
    <div class="header">
        <h1 class="logo">
            <a th:href="@{/user/index}">
                <img th:src="@{/img/logo.png}">
            </a>
        </h1>
        <div class="nav">
            <a th:href="@{/user/index}">新闻资讯</a>
            <a th:href="@{/user/activity/category/0}">活动</a>
            <a th:href="@{/user/album/category/0}">相册</a>
            <a th:href="@{/user/post/category/0}" class="active">广场</a>
            <a th:href="@{/user/my/oneself}">主页</a>
        </div>
        <!--右侧搜索栏-->
        <div class="nav-right">
            <form class="layui-form" action="">
                <div class="layui-input-block">
                    <input type="text" name="search" lay-verify="required" autocomplete="off" placeholder="&#xe615;"
                           class="layui-icon layui-input">
                </div>
            </form>
            <div class="user">
                <!-- <a href="#">登录</a>
                <a href="#">注册</a> -->
                <div class="avatar">
                    <img th:src="@{/img/banner.jpg}">
                </div>
            </div>
        </div>
    </div>
</header>


<div class="content whisper-content">
    <div class="cont">
        <div class="title">
        <span class="layui-breadcrumb" lay-separator="|">
          <a th:href="@{/user/post/category/0}" class="active">全部</a>
          <a th:href="@{/user/post/category/1}">今日新鲜事</a>
          <a th:href="@{/user/post/category/2}">今天学到了</a>
          <a th:href="@{/user/post/category/3}">下班去哪玩</a>
          <a th:href="@{/user/post/category/4}">什么值得买</a>
          <a th:href="@{/user/post/category/5}">搞笑段子</a>
          <a th:href="@{/user/post/category/6}">其它</a>
        </span>
        </div>
        <div class="whisper-list">
            <!--开始遍历-->
            <div class="item-box" th:each="pvo:${posts}">
                <div class="item">
                    <div class="whisper-title">
                        <i class="layui-icon layui-icon-date"></i>
                        <span th:text="${pvo.post.author}"></span>
                        <span th:text="${#dates.format(pvo.post.createTime, 'yyyy-MM-dd')}">2018/06/08</span>
                    </div>
                    <!--主要内容-->
                    <div class="text-cont" th:utext="${pvo.post.content}"></div>
                    <div class="op-list">
                        <p th:class="${pvo.likeStatus == 1} ? 'active like' : 'like'"
                           th:onclick="|like(this, 4, ${pvo.post.id});|"><i
                                class="layui-icon layui-icon-praise"></i><span
                                th:text="${pvo.likeCount}"></span></p>
                        <p th:class="${pvo.collectStatus == 1} ? 'active like' : 'like'"
                           th:onclick="|collect(this, 4, ${pvo.post.id});|"><i
                                class="layui-icon layui-icon-rate-solid"></i><span
                                th:text="${pvo.collectCount}"></span></p>
                        <p><i class="layui-icon layui-icon-reply-fill"></i><span th:text="${pvo.msgNum}"></span></p>

                        <p class="off"><span>评论区</span><i class="layui-icon layui-icon-down"></i></p>
                    </div>
                </div>
                <!--该帖子下的隐藏区域-->
                <div class="review-version layui-hide">
                    <!--评论表单-->
                    <div class="form">
                        <form class="layui-form" method="post" th:action="@{/user/comment/add}">
                            <div class="layui-form-item layui-form-text">
                                <div class="layui-input-block">
                                    <textarea name="content" class="layui-textarea"></textarea>
                                    <input type="hidden" name="targetType" value="4">
                                    <input type="hidden" name="targetId" th:value="${pvo.post.id}">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block" style="text-align: right;">
                                    <button class="layui-btn definite" type="submit">確定</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--评论列表-->
                    <div class="list-cont">
                        <div class="cont" th:each="cmt:${pvo.comments}">
                            <!--评论-->
                            <div class="comment">
                                <!--头像-->
                                <div class="img">
                                    <img th:src="${cmt.user.headPic}" alt="头像" style="width: 50px;">
                                </div>
                                <!--用户名-->
                                <div class="text">
                                    <p class="tit"><span class="name" th:text="${cmt.user.nickName}"></span><span
                                            class="data"
                                            th:text="${#dates.format(cmt.comment.createTime, 'yyyy-MM-dd')}">2018/06/06</span>
                                    </p>
                                    <p class="ct" th:text="${cmt.comment.content}"></p>
                                    <div class="op-list">
                                        <p th:class="${cmt.likeStatus == 1} ? 'active like' : 'like'"
                                           th:onclick="|like(this, 5, ${cmt.comment.id});|"><i
                                                class="layui-icon layui-icon-praise"></i><span
                                                th:text="${cmt.likeCount}"></span></p>
                                        <p class="edit"><i
                                                class="layui-icon layui-icon-reply-fill"></i><span>回复</span>
                                        </p>
                                    </div>
                                    <!-- 回复 -->
                                    <div class="comment layui-hide">
                                        <div class="form">
                                            <form class="layui-form" method="post" th:action="@{/user/comment/add}">
                                                <div class="layui-form-item layui-form-text">
                                                    <div class="layui-input-block">
                                                        <textarea name="content" placeholder="既然来了，就说几句"
                                                                  class="layui-textarea"></textarea>
                                                        <input type="hidden" name="targetType" value="5">
                                                        <input type="hidden" name="targetId"
                                                               th:value="${cmt.comment.id}">
                                                        <input type="hidden" name="toUserId"
                                                               th:value="${cmt.user.id}">
                                                    </div>
                                                </div>
                                                <div class="layui-form-item">
                                                    <div class="layui-input-block" style="text-align: right;">
                                                        <button class="layui-btn definite" type="submit">確定</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div th:each="rvo:${cmt.replys}">
                                <div class="reply">
                                    <!-- 头像 -->
                                    <div class="img">
                                        <img th:src="${rvo.user.headPic}" alt="头像" style="width: 50px;">
                                    </div>
                                    <!-- 用户名 -->
                                    <p class="tit"><span class="name" th:text="${rvo.user.nickName}"></span><span
                                            class="data"
                                            th:text="${#dates.format(rvo.reply.createTime, 'yyyy-MM-dd')}"></span>
                                    </p>
                                    <!-- 回复内容 -->
                                    <p class="ct" th:text="${rvo.reply.content}"></p>
                                    <!-- 点赞 -->
                                    <div class="op-list">
                                        <p th:class="${rvo.likeStatus == 1} ? 'active like' : 'like'"
                                           th:onclick="|like(this, 5, ${rvo.reply.id});|"><i
                                                class="layui-icon layui-icon-praise"></i><span
                                                th:text="${rvo.likeCount}"></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="demo" style="text-align: center;"></div>
    </div>
</div>

<footer th:replace="index::footer"></footer>
<script type="text/javascript" th:src="@{/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-3.6.0.js}"></script>
<script type="text/javascript" th:src="@{/js/details.js}"></script>
<script type="text/javascript" th:src="@{/js/header.js}"></script>
<script type="text/javascript">
    layui.config({
        base: '[[@{/js/util/}]]'
    }).use(['element', 'laypage', 'form', 'menu'], function () {
        element = layui.element, laypage = layui.laypage, form = layui.form, menu = layui.menu;
        laypage.render({
            elem: 'demo'
            , count: 70 //数据总数，从服务端得到
        });
        menu.comment_off();
        menu.reply_off();
    })
</script>
</body>

</html>