<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>首页</title>
  <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
  <link rel="shortcut icon" th:href="@{/img/favicon.ico}" />
</head>

<body>
<div class="header">
  <h1 class="logo">
    <a href="index.html">
      <img th:src="@{/img/logo.png}">
    </a>
  </h1>
  <div class="nav">
    <a href="index.html" class="active">新闻资讯</a>
    <a href="activity/activity.html">活动</a>
    <a href="square.html">广场</a>
    <a href="album.html">相册</a>
    <a href="about.html">关于</a>
  </div>
  <!--右侧搜索栏-->
  <div class="nav-right">
    <form class="layui-form" action="">
      <div class="layui-input-block">
        <input type="text" name="search" lay-verify="required" autocomplete="off" placeholder="&#xe615;"
               class="layui-icon layui-input">
      </div>
    </form>
    <div class="user">
      <!-- <a href="#">登录</a>
      <a href="#">注册</a> -->
      <div class="avatar">
        <img th:src="@{/img/banner.jpg}">
      </div>
    </div>
  </div>
</div>

<!-- 轮播图 -->
<div class="layui-carousel" id="carousel">
  <div carousel-item>
    <div class="carousel-item">
      <a href="#"><img th:src="@{/img/wy_img1.jpg}" />
        <h1>冬奥会上的“微笑卫士” | 宁理学生赵楠用行动诠释志愿者精神</h1>
      </a>
    </div>
    <div class="carousel-item">
      <a href="#"><img th:src="@{/img/wy_img2.jpg}" />
        <h1>喜报！宁理仨学生在宁夏大学生原创文学大赛中分获一二三等奖</h1>
      </a>
    </div>
  </div>
</div>


<div class="content">
  <div class="cont w1000">
    <div class="title">
        <span class="layui-breadcrumb" lay-separator="|">
          <a href="javascript:;" class="active">设计文章</a>
          <a href="javascript:;">前端文章</a>
          <a href="javascript:;">旅游杂记</a>
        </span>
    </div>
    <div class="list-item">
      <div class="item">
        <div class="layui-fluid">
          <div class="layui-row">
            <div class="layui-col-xs12 layui-col-sm4 layui-col-md5">
              <div class="img"><img th:src="@{/img/sy_img1.jpg}" alt=""></div>
            </div>
            <div class="layui-col-xs12 layui-col-sm8 layui-col-md7">
              <div class="item-cont">
                <h3>空间立体效果图，完美呈现最终效果<button class="layui-btn layui-btn-danger new-icon">new</button></h3>
                <h5>设计文章</h5>
                <p>室内设计作为一门新兴的学科，尽管还只是近数十年的事，但是人们有意识地对自己生活、生产活动的室内进行安排布置，甚至美化装饰，赋予室内环境以所祈使的气氛，却早巳从人类文明伊始的时期就已存在</p>
                <a href="details.html" class="go-icon"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="layui-fluid">
          <div class="layui-row">
            <div class="layui-col-xs12 layui-col-sm4 layui-col-md5">
              <div class="img"><img th:src="@{/img/sy_img2.jpg}" alt=""></div>
            </div>
            <div class="layui-col-xs12 layui-col-sm8 layui-col-md7">
              <div class="item-cont">
                <h3>空间立体效果图，完美呈现最终效果<button class="layui-btn layui-btn-danger new-icon">new</button></h3>
                <h5>设计文章</h5>
                <p>室内设计作为一门新兴的学科，尽管还只是近数十年的事，但是人们有意识地对自己生活、生产活动的室内进行安排布置，甚至美化装饰，赋予室内环境以所祈使的气氛，却早巳从人类文明伊始的时期就已存在</p>
                <a href="details.html" class="go-icon"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="layui-fluid">
          <div class="layui-row">
            <div class="layui-col-xs12 layui-col-sm4 layui-col-md5">
              <div class="img"><img th:src="@{/img/sy_img3.jpg}" alt=""></div>
            </div>
            <div class="layui-col-xs12 layui-col-sm8 layui-col-md7">
              <div class="item-cont">
                <h3>空间立体效果图，完美呈现最终效果<button class="layui-btn layui-btn-danger new-icon">new</button></h3>
                <h5>设计文章</h5>
                <p>室内设计作为一门新兴的学科，尽管还只是近数十年的事，但是人们有意识地对自己生活、生产活动的室内进行安排布置，甚至美化装饰，赋予室内环境以所祈使的气氛，却早巳从人类文明伊始的时期就已存在</p>
                <a href="details.html" class="go-icon"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="layui-fluid">
          <div class="layui-row">
            <div class="layui-col-xs12 layui-col-sm4 layui-col-md5">
              <div class="img"><img th:src="@{/img/sy_img4.jpg}" alt=""></div>
            </div>
            <div class="layui-col-xs12 layui-col-sm8 layui-col-md7">
              <div class="item-cont">
                <h3>空间立体效果图，完美呈现最终效果<button class="layui-btn layui-btn-danger new-icon">new</button></h3>
                <h5>设计文章</h5>
                <p>室内设计作为一门新兴的学科，尽管还只是近数十年的事，但是人们有意识地对自己生活、生产活动的室内进行安排布置，甚至美化装饰，赋予室内环境以所祈使的气氛，却早巳从人类文明伊始的时期就已存在</p>
                <a href="details.html" class="go-icon"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="layui-fluid">
          <div class="layui-row">
            <div class="layui-col-xs12 layui-col-sm4 layui-col-md5">
              <div class="img"><img th:src="@{/img/sy_img5.jpg}" alt=""></div>
            </div>
            <div class="layui-col-xs12 layui-col-sm8 layui-col-md7">
              <div class="item-cont">
                <h3>空间立体效果图，完美呈现最终效果<button class="layui-btn layui-btn-danger new-icon">new</button></h3>
                <h5>设计文章</h5>
                <p>室内设计作为一门新兴的学科，尽管还只是近数十年的事，但是人们有意识地对自己生活、生产活动的室内进行安排布置，甚至美化装饰，赋予室内环境以所祈使的气氛，却早巳从人类文明伊始的时期就已存在</p>
                <a href="details.html" class="go-icon"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="demo" style="text-align: center;"></div>
  </div>
</div>

<div class="footer-wrap">
  <div class="footer w1000">
    <div class="qrcode">
      <img th:src="@{/img/erweima.jpg}">
    </div>
    <div class="practice-mode">
      <img th:src="@{/img/down_img.jpg}">
      <div class="text">
        <h4 class="title">我的联系方式</h4>
        <p>微信<span class="WeChat">1234567890</span></p>
        <p>手机<span class="iphone">1234567890</span></p>
        <p>邮箱<span class="email">1234567890@qq.com</span></p>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" th:src="@{/layui/layui.js}"></script>
<script type="text/javascript">
  layui.config({
    base: '[[@{/js/util/}]]'
  }).use(['element', 'laypage', 'jquery', 'menu',], function () {
    element = layui.element, laypage = layui.laypage, $ = layui.$, menu = layui.menu;
    laypage.render({
      elem: 'demo'
      , count: 70 //数据总数，从服务端得到
    });
    menu.init();
  });
  //轮播图
  layui.use('carousel', function () {
    var carousel = layui.carousel;
    //建造实例
    carousel.render({
      elem: '#carousel'
      , width: '1000px'
      , height: '465px'
      , arrow: 'always' //始终显示箭头
    });
  });
  layui.use('dropdown', function () {
    var dropdown = layui.dropdown
    // 下拉菜单
    dropdown.render({
      elem: '.avatar' //可绑定在任意元素中，此处以上述按钮为例
      , data: [{
        title: '我的主页'
        , templet: '<i class="layui-icon layui-icon-username"></i> {{d.title}}'
        , id: 100
        , href: 'about.html'
      }, { type: '-' }, {
        title: '我赞过的'
        , templet: '<i class="layui-icon layui-icon-praise"></i> {{d.title}}'
        , id: 101
        , href: '#' //开启超链接
      }, { type: '-' }, {
        title: '我的收藏'
        , templet: '<i class="layui-icon layui-icon-star"></i> {{d.title}}'
        , id: 102
        , href: '#'
      }, { type: '-' }, {
        title: '退出'
        , templet: '<i class="layui-icon layui-icon-logout"></i> {{d.title}}'
        , id: 103
        , href: '#'
      }]
      , id: 'avatar'
      //菜单被点击的事件
      , click: function (obj) {
        console.log(obj);
        layer.msg('回调返回的参数已显示再控制台');
      }
    });
  });
</script>
</body>

</html>