<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <title>审核资讯</title>
    <link rel="stylesheet" th:href="@{/pear/component/pear/css/pear.css}" />
</head>
<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <div class="layui-form-item layui-inline">
                    <label class="layui-form-label">标题</label>
                    <div class="layui-input-inline">
                        <input type="text" name="title" placeholder="" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-inline">
                    <label class="layui-form-label">分类</label>
                    <div class="layui-input-block">
                        <select name="sort" lay-verify="required">
                            <option value=""></option>
                            <option value="1">校友资讯</option>
                            <option value="2">校友风采</option>
                            <option value="3">母校资讯</option>
                            <option value="4">其它</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item layui-inline">
                    <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="news-query">
                        <i class="layui-icon layui-icon-search"></i>
                        查询
                    </button>
                    <button type="reset" class="pear-btn pear-btn-md">
                        <i class="layui-icon layui-icon-refresh"></i>
                        重置
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="layui-card">
    <div class="layui-card-body">
        <table id="news-table" lay-filter="news-table"></table>
    </div>
</div>

<script type="text/html" id="news-toolbar">
    <button class="pear-btn pear-btn-primary pear-btn-md" lay-event="batchPass">
        <i class="layui-icon layui-icon-ok"></i>
        通过
    </button>
    <button class="pear-btn pear-btn-danger pear-btn-md" lay-event="batchNoPass">
        <i class="layui-icon layui-icon-close"></i>
        不通过
    </button>
</script>

<script type="text/html" id="news-bar">
    <button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="details"><i class="layui-icon layui-icon-layer"></i></button>
    <button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="pass"><i class="layui-icon layui-icon-ok"></i></button>
    <button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="noPass"><i class="layui-icon layui-icon-close"></i></button>
</script>

<script type="text/html" id="news-createTime">
    {{layui.util.toDateString(d.createTime, 'yyyy-MM-dd')}}
</script>

<script type="text/html" id="news-cover">
    <img src="{{d.cover}}" alt="cover" style="height: 45px;">
</script>

<script th:src="@{/pear/component/layui/layui.js}"></script>
<script th:src="@{/pear/component/pear/pear.js}"></script>
<script>
    layui.use(['table', 'form', 'jquery','common'], function() {
        let table = layui.table;
        let form = layui.form;
        let $ = layui.jquery;
        let common = layui.common;

        // let MODULE_PATH = "operate/";
        let MODULE_PATH = "/alumni/admin/news";

        let cols = [
            [{
                type: 'checkbox'
            },
                {
                    title: 'ID',
                    field: 'id',
                    align: 'center',
                    width: 143
                },
                {
                    title: '标题',
                    field: 'title',
                    align: 'left',
                    width: 450
                },
                {
                    title: '分类',
                    field: 'sort',
                    align: 'center',
                    width: 250,
                },
                {
                    title: '封面',
                    field: 'cover',
                    align: 'center',
                    width: 250,
                    templet: '#news-cover'
                },
                {
                    title: '注册时间',
                    field: 'createTime',
                    align: 'center',
                    width: 250,
                    templet: '#news-createTime'
                },
                {
                    title: '操作',
                    toolbar: '#news-bar',
                    align: 'center',
                    width: 250
                }
            ]
        ]

        table.render({
            elem: '#news-table',
            url: '/alumni/admin/news/audit/list',
            page: true,
            cols: cols,
            skin: 'line',
            toolbar: '#news-toolbar',
            defaultToolbar: [{
                title: '刷新',
                layEvent: 'refresh',
                icon: 'layui-icon-refresh',
            }, 'filter', 'print', 'exports']
        });

        table.on('tool(news-table)', function(obj) {
            if (obj.event === 'details') {
                window.details(obj);
            } else if (obj.event === 'refresh') {
                window.refresh(obj);
            } else if (obj.event === 'pass') {
                window.pass(obj);
            } else if (obj.event === 'noPass') {
                window.noPass(obj);
            }
        });

        table.on('toolbar(news-table)', function(obj) {
            if (obj.event === 'batchPass') {
                window.batchPass(obj);
            } else if (obj.event === 'batchNoPass') {
                window.batchNoPass(obj);
            }
        });

        form.on('submit(news-query)', function(data) {
            table.reload('news-table', {
                where: data.field
            })
            return false;
        });

        window.details = function(obj) {
            layer.open({
                type: 2,
                title: '详情',
                shade: 0.1,
                area: ['1200px', '800px'],
                content: MODULE_PATH + '/audit/details/' + obj.data['id']
            });
        }

        window.pass = function(obj) {
            layer.confirm('确认审核结果是:通过?', {
                icon: 3,
                title: '提示'
            }, function(index) {
                layer.close(index);
                let loading = layer.load();
                $.ajax({
                    url: MODULE_PATH + "/audit/pass/" + obj.data['id'],
                    dataType:'json',
                    type:'post',
                    success: function(result) {
                        layer.close(loading);
                        if (result.code === 0) {
                            layer.msg(result.msg, {
                                icon: 1,
                                time: 1000
                            }, function() {
                                obj.del();
                            });
                        } else {
                            layer.msg(result.msg, {
                                icon: 2,
                                time: 1000
                            });
                        }
                    }
                })
            });
        }

        window.noPass = function(obj) {
            layer.confirm('确定审核结果是:不通过?', {
                icon: 3,
                title: '提示'
            }, function(index) {
                layer.close(index);
                let loading = layer.load();
                $.ajax({
                    url: MODULE_PATH + "/audit/noPass/" + obj.data['id'],
                    dataType:'json',
                    type:'post',
                    success: function(result) {
                        layer.close(loading);
                        if (result.code === 0) {
                            layer.msg(result.msg, {
                                icon: 1,
                                time: 1000
                            }, function() {
                                obj.del();
                            });
                        } else {
                            layer.msg(result.msg, {
                                icon: 2,
                                time: 1000
                            });
                        }
                    }
                })
            });
        }

        window.batchPass = function(obj) {

            var checkIds = common.checkField(obj,'id');

            if (checkIds === "") {
                layer.msg("未选中数据", {
                    icon: 3,
                    time: 1000
                });
                return false;
            }

            layer.confirm('确定这些审核结果是:通过?', {
                icon: 3,
                title: '提示'
            }, function(index) {
                layer.close(index);
                let loading = layer.load();
                $.ajax({
                    url: MODULE_PATH + "/audit/batchPass/" + checkIds,
                    dataType:'json',
                    type:'post',
                    success: function(result) {
                        layer.close(loading);
                        if (result.code === 0) {
                            layer.msg(result.msg, {
                                icon: 1,
                                time: 1000
                            }, function() {
                                table.reload('news-table');
                            });
                        } else {
                            layer.msg(result.msg, {
                                icon: 2,
                                time: 1000
                            });
                        }
                    }
                })
            });
        }

        window.batchNoPass = function(obj) {

            var checkIds = common.checkField(obj,'id');

            if (checkIds === "") {
                layer.msg("未选中数据", {
                    icon: 3,
                    time: 1000
                });
                return false;
            }

            layer.confirm('确定这些审核结果是:不通过?', {
                icon: 3,
                title: '提示'
            }, function(index) {
                layer.close(index);
                let loading = layer.load();
                $.ajax({
                    url: MODULE_PATH + "/audit/batchNoPass/" + checkIds,
                    dataType:'json',
                    type:'post',
                    success: function(result) {
                        layer.close(loading);
                        if (result.code === 0) {
                            layer.msg(result.msg, {
                                icon: 1,
                                time: 1000
                            }, function() {
                                table.reload('news-table');
                            });
                        } else {
                            layer.msg(result.msg, {
                                icon: 2,
                                time: 1000
                            });
                        }
                    }
                })
            });
        }

        window.refresh = function(param) {
            table.reload('news-table');
        }
    })
</script>
</body>
</html>
